/* Navbars */
.navbar {
  top: 0;
  left: 0;
  width: 100%;
  background: #e0e0e0;
  display: flex;
  justify-content: flex-end;
  padding: 12px 24px;
  box-sizing: border-box;
  z-index: 100;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.navbar a:hover {
  color: #0073e6;
  text-decoration: underline;
}
/* Event Creation Page Styles */
#event-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#left-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 20px;
}

#event-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    height: 80vh;
    width: 500px;
}

#event-details {
    padding: 10px;
    padding-top: 0px;
    height: 55%;
    width: 90%;
}

#event-name {
    width: 100%;
    overflow-wrap: break-word;
}

#description {
    width: 100%;
    overflow-wrap: break-word;
}

#date {
    width: 100%;
    overflow-wrap: break-word;
}

#time {
    width: 100%;
    overflow-wrap: break-word;
}

#location {
    width: 100%;
    overflow-wrap: break-word;
}

#template {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

#template p {
    align-self: center;
}

.arrow {
    border-radius: 50%;
    border-width: 1px;
    width: 40px;
    height: 40px;
}

.arrow:hover {
    cursor: pointer;
    background-color: darkgrey;
}




#right-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 20px;
}

#event-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 90%;
    padding-top: 20px;
}

#form-date-time {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#atteendee-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
}

#atteendee-container label{
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 18px;
}

#attendee-list {
    display: flex;
    flex-direction: row;
    height: 200px;
    gap: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    overflow-y: auto;
}

#name-container {
    width: 50%;
}

#email-container {
    width: 50%;
}

#submit {
    border: 1px solid black;
    border-radius: 20px;
}

#submit:hover {
    cursor: pointer;
    background-color: darkgrey;
}

#invite {
    border: 1px solid black;
    border-radius: 20px;
    width: 300px;
}

#invite:hover {
    cursor: pointer;
    background-color: darkgrey;
}

input {
    margin-bottom: 20px;
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}

input:focus {
    border-bottom: 1px solid black;
    outline: none;
}

label {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

h1 {
    text-align: left;
    width: 100%;
}

h3 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 0px;
}

h4 {
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
    padding-top: 5px;
}

@media only screen and (max-width: 1100px) {
    #event-page {
        flex-direction: column;
    }

    #left-page, #right-page {
        width: 100%;
    } 
} 